<body> 
    <section class="gallery" id="breakfast_gallery">
        <div class="content">
            <h1 class="heading"> Our food for<span role="button" routerLink="../"> Breakfast </span>is ready </h1>
                <div class="box-container">
                    <div class="box">
                        <img src="../../../assets/images/breakfast/egg.jpg" alt="">
                        <div class="content">
                            <h3>Boiled Egg</h3>
                            <p>12 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/ricef.jpg" alt="">
                        <div class="content">
                            <h3>Fried Rice</h3>
                            <p>12 php - 8 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/spag.jpg" alt="">
                        <div class="content">
                            <h3>Spaghetti</h3>
                            <p>15 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/macaroni.jpg" alt="">
                        <div class="content">
                            <h3>Macaroni cheese</h3>
                            <p>12 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/pansit.jpg" alt="">
                        <div class="content">
                            <h3>Pansit Bato</h3>
                            <p>12 php - 8 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/sandwhich.jpg" alt="">
                        <div class="content">
                            <h3>Sandwhich</h3>
                            <p>15 php</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/bdog.jpg" alt="">
                        <div class="content">
                            <h3>Cheesedog</h3>
                            <p>25</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/breakfast/soup.jpg" alt="">
                        <div class="content">
                            <h3>Macaroni Soup</h3>
                            <p>15 php </p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <br>
    <br>
</body>    
    
    
    
    