
.container{
    width: 75%;
    height: 80%;
    background-color:rgba(134, 134, 198, 0.463);
    margin-top: 3%;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.cart{
    margin-top: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between; 
}
.remove{
    float: right;
}
.submit{
    float: right;
    overflow: none;
    margin-top: 540px;
    margin-right: -70px;
}
