<div class="container">
    <form action="">
        <table>
            <div class="breakfast"><h1>Breakfast</h1></div>
            <tr>
                <th style="padding: 20px;" width="20%">Name</th>
                <th style="padding: 20px;" width="15%">Quantity</th>
                <th style="padding: 20px;" width="5%">Price</th>
            </tr>

            <tr>
                
                <td style="padding: 20px;"  width="20%">Egg Sandwich</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    15php
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Pansit Bato </td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    <select name="price" id="menu-price">
                        <option value="none"></option>
                        <option value="12php">12php</option>
                        <option value="8php">8php</option>
                    </select>
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Spaghetti</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    12php
                </td>
            </tr>


            <!---Lunch-->
            <div class="lunch"><h1>Lunch</h1></div>
            <tr>
                <th style="padding: 20px;" width="20%">Name</th>
                <th style="padding: 20px;" width="15%">Quantity</th>
                <th style="padding: 20px;" width="5%">Price</th>
            </tr>

            <tr>
                
                <td style="padding: 20px;"  width="20%">Rice</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    <select name="price" id="menu-price">
                        <option value="none"></option>
                        <option value="12php">12php</option>
                        <option value="8php">8php</option>
                    </select>
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Fried Chicken</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    55php
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Adobo</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    60php
                </td>
            </tr>

            <!---Snacks-->


            <div class="snacks"><h1>Snacks</h1></div>
            <tr>
                <th style="padding: 20px;" width="20%">Name</th>
                <th style="padding: 20px;" width="15%">Quantity</th>
                <th style="padding: 20px;" width="5%">Price</th>
            </tr>

            <tr>
                
                <td style="padding: 20px;"  width="20%">Fries</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    15php
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Turon</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    10php
                </td>
            </tr>
            <tr>
                
                <td style="padding: 20px;"  width="20%">Sinapot</td>
                <td style="padding: 20px;" width="15%">
                    <input type="number" style="width: 40px;" max="15" min="0">
                </td>
                <td style="padding: 20px;" width="5%">
                    10php
                </td>
            </tr>





        </table>
    </form>
</div>