<section class="gallery" id="breakfast_gallery">
    <div class="content">
        <h1 class="heading"> Break time<span role="button" routerLink="../"> Lunch </span>time </h1>
            <div class="box-container">
                <div class="box">
                    <img src="../../../assets/images/lunch/chicken adobo.jpg" alt="">
                    <div class="content">
                        <h3>Chicken Adobo</h3>
                        <p>60 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/fc.jpeg" alt="">
                    <div class="content">
                        <h3>Fried Chicken</h3>
                        <p>55 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/fried fish.jpg" alt="">
                    <div class="content">
                        <h3>Fried Tilapia</h3>
                        <p>60 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/ginataang isda.jpg" alt="">
                    <div class="content">
                        <h3>Ginataang isda</h3>
                        <p>65 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/monggo.jpeg" alt="">
                    <div class="content">
                        <h3>Monggo gulay</h3>
                        <p>50 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/lumpia.jpg" alt="">
                    <div class="content">
                        <h3>Lumpiang  Shanghai</h3>
                        <p>10 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/Sweet-And-Sour-Chicken.jpg" alt="">
                    <div class="content">
                        <h3>Sweet and Sour Chicken</h3>
                        <p>65 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/lunch/prito.jpg" alt="">
                    <div class="content">
                        <h3>Prinitong isda</h3>
                        <p>60 php</p>
                    </div>
                </div>
            
            </div>
    </div>
</section>
<br>
<br>

