<section class="sec1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left">
                <h1>About Our Story</h1>
                <p>
                    The DWCL school canteen serves the DWCL community on “pay-as-you-order” and “self-service” basis.
                    It ensures that healthy and affordable meals are available to students and personnel. 
                    Concessionaires are required to submit periodic documents such as sanitation permit and health records of food handlers. 
                    It is fully airconditioned.
                </p>
                <a routerLink="/menu">view full menu</a>
            </div>
            <div class="col-lg-6 home-about-right">
                <img class="img-fluid" src="./assets/img/bread.jpg" alt="">
            </div>
        </div>
    </div>	
</section>

<!-- Start services Area -->
<section class="sec2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="text-center">
                    <h1 class="mb-10">What Kind of Services we Offer</h1>
                    <p>Who are in extremely love with eco friendly system. <br> Our Best seller</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class="thumb">
                        <img class="cof" src="/assets/img/cof.jpg" alt="">
                    </div>
                    <a>
                        <h4>Italian Espresso</h4>
                    </a>
                    <p>
                        Espresso forms of aromatic and deliciousnes. 
                        Extracted under pressure
                        it packs a punch, and one cup is an effective way of having a refreshing and alert morning.
                    </p>								
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <div class="thumb">
                        <img class="pan" src="/assets/img/pan.jpg" alt="">
                    </div>
                    <a>
                        <h4>Pancakes</h4>
                    </a>	
                    <p>
                        The homey goodness of plain golden pancakes served with whipped butter.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <div class="thumb">
                        <img class="rice" src="/assets/img/rice.jpg" alt="">
                    </div>
                    <a>
                        <h4>Fried Rice</h4>
                    </a>	
                    <p>
                        A combination of long grained rice, mixture of warm peas, carrots and onions with scrambled eggs mixed all together! You will not be getting take out any longer!
                    </p>
                </div>
            </div>												
        </div>
    </div>
	
<footer>
    <div class="sec4">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div>
                        <h4>Opening Hours</h4>
                        <ul class=>
                            <li class="d-flex justify-content-between">
                                <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Saturday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Sunday</span> <span>08.00 am - 10.00 pm</span>
                            </li>																				
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div>
                        <h4>Contact Us</h4>
                        <p>
                            South Campus - cor.J.P Rizal and Fr. J.L. Bates Sts., Albay District, Legazpi City 4500 Philippines
                        </p>
                        <p class="number">
                            (South CAMPUS) +63 52 480 2148 <br>
                            (North CAMPUS) +63 52 742 7966
                        </p>
                    </div>
                </div>						
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div>
                        <h4>For Enquiries</h4>
                        <p>You can message us. Do not spam or your message will be automatically denied.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                              <form>
                                <div>
                                      <input class="form-control" placeholder="Your Email address" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="" value="" type="text">
                                    </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>						
            </div>					
        </div>					
    </div>
    <div class="mylinks">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                    Copyright 2022. All Right Reserved. Design by <a href="https://github.com/tinenism">@nulgathm</a>
                </p>
            </div>						
        </div>
    </div>
</footer>