.sec1{
    margin-top: 5%;
  }
  .sec2{
    margin-top: 5%;
  }
  .sec4{
    margin-top: 5%;
<<<<<<< HEAD
}
.cof{
    height: 200px;
    width: 250px;
}
.pan{
    height: 200px;
    width: 250px;
}
.rice{
    height: 200px;
    width: 250px;
}
.mylinks{
    margin-top: 3%;
    margin-bottom: 2%;
}
.ft{
    
}
=======
  }
 
  .staff3{
    height: 150px;
    width: 150px;
    margin-left: 26%;
    border-radius:50%;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
  }
  .cs{
    padding-top:1%;
    margin-left:36%;
    font-weight: bold;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
  }
  .cs1{
    margin-left:31%;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    
  }
  
  .staff2{
    height: 150px;
    width: 150px;
    margin-left: 25%;
    border-radius:50%;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
  }
  .css{
    padding-top:1%;
    margin-left:32%;
    font-weight: bold;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
  }
  .cs2{
    margin-left:43%;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    
  }
  .staff1{
    height: 150px;
    width: 150px;
    margin-left: 25%;
     border-radius:50%;
     position: relative;
     animation-name: myanimation;
     animation-duration: 4s;
  }
  .csss{
    padding-top:1%;
    margin-left:39%;
    font-weight: bold;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
  }
  .cs3{
    margin-left:45%;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    
  }
  
  h4{
    font-weight: bold;
  }
  footer{
    background-color: lightgray;
  }
  .aboutss{
    padding-top: 2%;
  }

  @keyframes myanimation{
    0% {left: 0px; top: 0px}
    25% {left: 300px; top: 0px}
    50% {left: 300px; top: 50px}
    100% {left: 0px; top: 0px}
  }
>>>>>>> 965f5a5bce775fb2837001a52116b43a95373727
