<section class="sec1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left">
                <h1>About Canteen</h1>
                <p>
                    The DWCL school canteen serves the DWCL community on “pay-as-you-order” and “self-service” basis. 
                    It ensures that healthy and affordable meals are available to students and personnel. 
                    Concessionaires are required to submit periodic documents such as sanitation permit and health records
                    of food handlers. With the technology continues to evolve, the DWCL Canteen offically have now a Canteen Reservation. 
                </p>
            </div>
            <div class="col-lg-6 home-about-right">
                <img class="img-fluid" src="https://scontent.fmnl3-3.fna.fbcdn.net/v/t1.6435-9/33921748_977242512439373_2960291661713768448_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=1xl5Js8cLHEAX-eBgrZ&_nc_ht=scontent.fmnl3-3.fna&oh=00_AfCVmcJj7h8jg8euuT2Kb6J9DpZqm5Uw-39r_lg9lr8ctg&oe=639B9AA6">
            </div>
        </div>
    </div>	
</section>


<section class="sec2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="text-center">
                    <h1 class="mb-10">What Kind of Services we Offer</h1>
                    <p>Who are in extremely love with eco friendly system. <br> "Our Best seller"</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-4">
                <div class="slide">
                    <div class="slider">
                        <img class="staff3" src="/assets/img/staff3.jpg" alt="">
                    </div>
                    <a>
                        <h4 class ="cs">Helen Ayque</h4>
                    </a>
                    <p class="cs1">
                        Cashier Supervisor
                    </p>								
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slide">
                    <div class="slider">
                        <img class="staff2" src="/assets/img/staff2.jpg" alt="">
                    </div>
                    <a>
                        <h4 class="css">Reynaldo Abibion</h4>
                    </a>	
                    <p class="cs2">
                        Cook
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slide">
                    <div class="slider">
                        <img class="staff1" src="/assets/img/staff1.jpg" alt="">
                    </div>
                    <a>
                        <h4 class="csss">Roy Murillo</h4>
                    </a>	
                    <p class = "cs3">
                       Cook
                    </p>
                </div>
            </div>												
        </div>
    </div>
	
<footer class="ft">
    <div class="sec4">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="aboutss">
                        <h4>Opening Hours</h4>
                        <ul>
                            <li class="d-flex justify-content-between">
                                <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Saturday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Sunday</span> <span>08.00 am - 10.00 pm</span>
                            </li>																				
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="aboutss">
                        <h4>Contact Us</h4>
                        <p>
                            South Campus - cor.J.P Rizal and Fr. J.L. Bates Sts., Albay District, Legazpi City 4500 Philippines
                        </p>
                        <p class="number">
                            (South CAMPUS) +63 52 480 2148 <br>
                            (North CAMPUS) +63 52 742 7966
                        </p>
                    </div>
                </div>						
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="aboutss">
                        <h4>For Inquiries</h4>
                        <p>You can message us. Do not spam or your message will be automatically denied.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                              <form>
                                <div>
                                      <input class="form-control" placeholder="Your Email address" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="" value="" type="text">
                                    </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>						
            </div>					
        </div>					
    </div>
    <div class="mylinks">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                    <br>
                    Copyright 2022. All Right Reserved. Design by <a href="https://github.com/tinenism">@nulgathm</a>
                </p>
            </div>						
        </div>
    </div>
</footer>