*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: rgba(87, 115, 240, 0.215) ;
	font-family : 'Poppins', sans-serif;
	overflow-x: hidden;
}
.menu{
	
	padding:0 10px 30px 10px;
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	grid-gap: 20px 40px;
}
.heading{
	color : black;
	margin-bottom: 10px;
	padding: 10px 0;
	grid-column: 1/1;
	text-align: center;

}
.img{
	height: 120px;
	width: 120px;
}

.food-items
.heading>h1{
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 20px;
	margin-right: 10em;
}
.heading>h3{
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 5px;
}

h1{
	grid-column: 1/-1;
	text-align: center;
}
.content{

	width: 100%;
}
@media (max-width: 500px){
	.food-items{
		scale: 2/1;
	}
}
.menu{
	text-align: center;
	padding-left: 45em;
	padding-left: 45em;
}
