
<body>
    
    <!-- home section starts  -->
    
    <section class="home" id="home">
    
        <div class="content">
            <h3>Divine Word College of Legazpi</h3>
                <p>
                    The DWCL Canteen Online booking, is an online  
                    reservation system that aims to have a workaround about 
                    the long lines in the DWCL canteen,  and to make the 
                    customer area of the canteen more organized. This can help
                    the student from their tiring moment sit tight and relax on their seats.
                </p>
        </div>
    
        <div class="image">
            <img src="../../assets/images/logo_canteen.png" alt="">
        </div>
    
    </section>
    <!----speciality-->
    <section class="speciality" id="speciality">
    <div class="content">
      <div class = "head"><h1 class="heading"> Make a <span role="button" routerLink="../menu">Choice</span> </h1></div>
    
      <div class="box-container">
    
          <div class="box">
            <span routerLink="../menu/breakfast" role="button"><img class="image" src="../../assets/images/breakfast.png" alt=""></span>
              <div class="content">
                <img src="../../assets/images/s-6.png" alt="">
                  <h3>Breakfast</h3>
                  <p>"I love sleeping, because it is the time machine for breakfast"</p>
              </div>
          </div>
          <div class="box">
            <span routerLink="../menu/lunch" role="button"><img class="image" src="../../assets/images/lunch.jpg" alt=""></span> 
              <div class="content">
                  <img src="../../assets/images/s-4.png" alt="">
                  <h3>Lunch</h3>
                  <p>"Lunch hour is the best hour of the day"</p>
              </div>
          </div>
          <div class="box">
            <span routerLink="../menu/snacks" role="button" ><img class="image" src="../../assets/images/snacks.jpg" alt=""></span>
              <div class="content">
                  <img src="../../assets/images/s-3.png" alt="">
                  <h3>Snacks</h3>
                  <p>"Keep your friends close and your snacks closer"</p>
              </div>
          </div>
          <br>
          <br>
          
        </div>
      </div>
    </section>
    <!---new section for Menu-->
    <router-outlet></router-outlet>
        
    
    
    