#menu{
	padding: 25px 0 25px 0;
}
#section{
	padding: 25px 0 25px 0;
	text-align: center;
	font-size: 6em;
}
.menu{
	font-family: Arial, Helvetica, sans-serif;
}
#menu_row{
	display: flex;
	padding: 0 100px 0 100px;
}
#menu_col{
	box-shadow: 2px 2px 2px #bbb;
	border: 2px solid #bbb;
	background-color: #fff;
	margin: 7px;
  flex: 1;
}
#menu_col h2{
	background-color: rgb(14, 36, 238);
	color: rgb(18, 18, 19);
	text-align: center;
	padding: 5px
}
#image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 5px;
	border: 2px solid ridge;

}
#image img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 5px;
}
