
  	<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="#">Work</a></li>
  			<li><a href="#">Reservation</a></li>
  			<li><a href="menu">Menu</a></li>
  			<li><a href="about">About us</a></li>
        <a class="login" href="auth/login">Signin</a>
        <a class="login" href="auth/signup">Signup</a>
  		</ul>
  	</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    
    <mat-toolbar class="tblr" style="background-color: #353746; color:rgb(255, 255, 255)">
      <div class="logo" target="_blank">
        <img  routerLink="/" role="button" src="/assets/img/Divine canteen reservation-logos_white.png" alt="">
      </div>
    <div>
      <span class="checkout" role="button" routerLink="checkout-list">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>
      </span>
    </div> 

    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
