
  	<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" placeholder="sda"/>
  	<label for="menu-icon"></label>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="#">Work</a></li>
  			<li><a routerLink="/reservation">Reservation</a></li>
  			<li><a href="menu">Menu</a></li>
  			<li><a href="about">About us</a></li>
        <a class="login" href="auth/login">Signin</a>
        <a class="login" href="auth/signup">Signup</a>
  		</ul>
  	</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    
    <mat-toolbar class="tblr" style="background-color: #353746; color:rgb(255, 255, 255)">
      <div class="logo" target="_blank">
        <img  routerLink="/" role="button" src="/assets/img/Divine canteen reservation-logos_white.png" alt="">
      </div>
      <ng-container  *ngIf="authService.currentUser$ | async as user; else loginButton">
        <button class="k" mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
            {{user.displayName}}
          <mat-icon>expand_more</mat-icon>
        </button>

      </ng-container>
      <ng-template #loginButton>
        <button class="k" mat-button routerLink="auth/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    Logout
  </button>
</mat-menu>
