
<body>
    <div class=”Cart-Container”></div>
   </body>

   <div class=”Header”>
    <h3 class=”Heading”>Shopping Cart</h3>
    <h5 class=”Action”>Remove all</h5>
    </div>

    <div class=”Cart-Items”>
        <div class=”image-box”>
        <img src=”C:\Users\Acer\Pictures\database\rice.jpg” style="height: 30px">
        </div>
        <div class=”about”>
        <h1 class=”title”>Plain Rice</h1>
        <h3 class=”subtitle”>₱12</h3>
        </div>
        <div class=”counter”></div>
        <div class=”prices”></div>
        </div> 

        <div class=”counter”>
            <div class=”btn”>+</div>
            <div class=”count”>1</div>
            <div class=”btn”>-</div>
            </div>

            <div class=”prices”>
                <div class=”amount”>₱12.00</div>
                <div class=”remove”><u>Remove</u></div>
                </div>

<hr> 
 <div class=”checkout”>
 <div class=”total”>
 <div>
 <div class=”Subtotal”>Sub-Total</div>
 <div class=”items”></div>
 </div>
 <div class=”total-amount”></div>
 </div>
 <button class=”button”>Checkout</button>
 </div>

