<mat-sidenav-container>
  <mat-sidenav #onClick mode="side" closed>
      <button class="sbtn" mat-button color="accent" routerLink="/menu">Menu</button>
  </mat-sidenav>
  <!-- Body -->
  <mat-sidenav-content>
    <div>
      <div>
        <mat-toolbar>
            <button mat-button (click)="onClick.toggle()">
            <mat-icon>menu</mat-icon>
            </button>
            <span  routerLink="/" role="button">Canteen</span>
            <button class="btn1" mat-button routerLink="auth/signup">Sign In</button>
            <button class="btn2" mat-button routerLink="auth/login">Sign Up</button>
        </mat-toolbar>
      </div>
      <main>
        <!--main content-->
      </main>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>