<section class="gallery" id="breakfast_gallery">
    <div class="content">
        <h1 class="heading">We prepare<span role="button" routerLink="../"> Snacks </span> here </h1>
            <div class="box-container">
                <div class="box">
                    <img src="../../../assets/images/snack/biscuits.jpg" alt="">
                    <div class="content">
                        <h3>Biscuits</h3>
                        <p>Price range starts at 10 php - 20 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/fries.jpg" alt="">
                    <div class="content">
                        <h3>Potato Fries</h3>
                        <p>15 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/humberger.jpg" alt="">
                    <div class="content">
                        <h3>Hamburger</h3>
                        <p>25 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/junkfoods.jpg" alt="">
                    <div class="content">
                        <h3>Junkfoods</h3>
                        <p>Price range 10php - 20 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/pandesal with cheese.jpg" alt="">
                    <div class="content">
                        <h3>Pandesal Cheese</h3>
                        <p>2 php each.</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/soup.jpg" alt="">
                    <div class="content">
                        <h3>Macaroni Soup</h3>
                        <p>15 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/sinapot.jpg" alt="">
                    <div class="content">
                        <h3>Sinapot</h3>
                        <p>12 php</p>
                    </div>
                </div>
                <div class="box">
                    <img src="../../../assets/images/snack/turon.jpg" alt="">
                    <div class="content">
                        <h3>Turon</h3>
                        <p>12 php</p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    <br>
    <br>
    
    