
    <div class="main-content"  data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">   
    
  

      <div class="sections">
 
        <section id="homepage" class="homepage">
      
      <div id="slides" class="cover-slides">
          <ul class="slides-container">
          
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
      
                 
                    <h1 class="m-b-20"><strong>Welcome To <br><br> DWCL Canteen</strong></h1>
                    <p class="wc">The Divine Word College of Legazpi Canteen <br>
                    is open for reservation</p>
                   
                 
                  </div>
                </div>
              </div>

            </ul>
            </div>
            </section>


            <section id="desc" class="desc">
              <div class="container container-1">
                 
                     <div class="desc-section">
                           <h1 class="h1">About DWCL</h1>
                 <br>
              <p class="p">The Divine Word College of Legazpi (DWCL) sprang into existence from a small school, Liceo de Albay (LDA), a diocesan school of Caceresfor boys. In 1947 the LDA was entrusted to Fr. Juan Carullo, a retiredarmy chaplain. The members of the Board of Trustees were then Msgr. Justiniano Romano, Fr. Euferto Alberto, Fr. Alfonso Molina, Fr. Guilermo Rejante, Fr. William Rehente and Fr. RusticoBurce. The school building was located at Corners Rizal St. and Maria Clara St. (now Fr. Joseph L. Bates St.),Legazpi City. The lot was donated by the Calleja family of Legazpi City.
                In 1952, the LDA was ravaged by Typhoon Trix. Financial incapacity became a major problem for its survival. To save the school from possible closure, series of negotiations to take over the management of the school were done between the then Bishop of Legazpi, Bishop Flaviano B. Ariola, D.D. and the SocietasVerbiDivini (SVD) Congregation. Both agreed andofficially turned over the Liceo de Albay by Bishop Flaviano B. Ariola, D.D. to the Provincial Superior of SVD, Fr. Alfonse Lesage, SVDin 1961.The Society of the Divine Word appointed Fr. Joseph L. Bates, SVD, to officially administer the school withMsgr. Honesto A. Moraleda, a diocesan clergy, as Principal. The new school kept its exclusivity for the education of boys with the help
                 of Msgr. Nestor C. Cariño and the then Frt. Florante Camacho, SVD as Regent.</p>

                 <br>
              </div>

              <br>
              <br>
