<div class="container">
    <div class="row" id="Restaurant">
       <div class="col navMenu">
           <h2 class="text-center" >Divine Word College of Legazpi</h2>
       </div>
     </div>
     <div class="row bg-light" >
      <div class="col-md-6">
        <h3>Location</h3>
        <p>Welcome to Divine Word College, dedicated to educating men and women for missionary service. It is owned and operated by the Society of the Divine Word (SVD), the largest missionary congregation of men in the Catholic Church</p>
        <h5>A Unique Experience</h5>
        <p>Welcome to Divine Word College, dedicated to educating men and women for missionary service. It is owned and operated by the Society of the Divine Word (SVD), the largest missionary congregation of men in the Catholic Church</p>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <img class="img-fluid" src="https://scontent.fmnl3-3.fna.fbcdn.net/v/t1.6435-9/33921748_977242512439373_2960291661713768448_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=1xl5Js8cLHEAX-eBgrZ&_nc_ht=scontent.fmnl3-3.fna&oh=00_AfCVmcJj7h8jg8euuT2Kb6J9DpZqm5Uw-39r_lg9lr8ctg&oe=639B9AA6">
      </div>
    </div>
    <div class="row bg-light"><br></div>
    <div class="row bg-light">
      <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
        <img class="img-fluid " src="assets/img/menu.jpg" >
      </div>
      <div class="col-md-6 order-md-12 order-1">
        <h3>Cuisine</h3>
        <p>Welcome to Divine Word College, dedicated to educating men and women for missionary service. It is owned and operated by the Society of the Divine Word (SVD), the largest missionary congregation of men in the Catholic Church</p>
        <h5>A Unique Experience</h5>
        <p>Welcome to Divine Word College, dedicated to educating men and women for missionary service. It is owned and operated by the Society of the Divine Word (SVD), the largest missionary congregation of men in the Catholic Church</p>
      </div>
     </div>
  </div>