*{
    margin: 0;
    padding: 0;
    font-family: 'Anek Malayalam', sans-serif;
 
}
body{
     font-family: 'Athiti', sans-serif;
}
.main-content{
    width: 100%;
    height: 100vh;
    background-color: #a9a9a947;
}


.sections .homepage {
    background-image:url("/assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;    
}
.cover-slides h1{
    font-family: 'Arbutus Slab', serif;
    font-weight: 500;
    font-size: 64px;
    color:white;
    padding-top: 190px;
    float: right;
    margin-top: 45px;
}
.cover-slides p{
    font-size: 18px;
    color: white;
   
}
.wc{
    position: absolute;
    left: 59%;
    bottom: -18%;
}
.desc-section{
   
    color: black;  
    margin-top: 50px;

}
.h1{
    text-align: center;
    font-family: "Monaco", Monospace;
    padding-top: 30px;
    font-size: 40px;
}
.p{
   text-align: center;
   padding-left: 5%;
   padding-right: 5%;
}
.section{
    display: flex;
    justify-content: space-between;
}
.section h1{
    text-align: center;
    margin-top: 10%;
}
.section img{
   height: 500px;
   margin-top: 50%;
   

}
.par{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}